[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
imageio = "*"
matplotlib = "*"
opencv-python = "*"
tk = "*"
easygui = "*"

[dev-packages]
ipykernel = "*"
pylint = "*"
yapf = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
